<!DOCTYPE html>
<html lang="">

<head>
  <title>Carrinho</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <div class="hoc clear">
      <!-- ################################################################################################ -->
      <nav id="mainav">
        <ul class="clear">
          <li class="active"><a href="http://localhost:3000/index">Home</a></li>
          <li><a class="drop" href="#">Produtos</a>
            <ul>
              <li><a href="http://localhost:3000/index/products">Todos os produtos</a></li>
              <% if (user == "ADMIN") { %>
                <li><a href="http://localhost:3000/cadastroproduto">Cadastrar Produto</a></li>
              <%}%>
            </ul>
          </li>
          <li><a href="http://localhost:3000/index/carrinho">Carrinho</a></li>
          <%if(user == null){ %>
          <li><a href="http://localhost:3000/index/login">Login</a></li>
          <% } else { %>
          <li><a href="http://localhost:3000/usuario">
              <%= user %></a> </li>
          <%}%>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
  </div>

  <!-- ################################################################################################ -->
  <div class="wrapper bgded overlay dark" style="background-image:url('../images/demo/backgrounds/nvidia.jpg');">
    <div id="breadcrumb" class="hoc clear">
      <!-- ################################################################################################ -->
      <h6 class="heading">Carrinho</h6>
      <main class="hoc container clear">
        <!-- main body -->
        <div class="basket">

          <div class="basket-labels">
            <ul>
              <li class="item item-heading">Item</li>            
              <li class="subtotal">Valor</li>
            </ul>
          </div>

          <% if(lista.length==0){%>
          </br>
              <h1> Você ainda não possui nada no carrinho</h1>
          <%}%>
          <% for(var i=0;i<lista.length;i++){ %>
          <div class="basket-product">
            <div class="item">
              <div class="product-image">
                <img src=<%=lista[i].items[0].product.url%> alt="Placholder Image 2" class="product-frame">
              </div>
              <div class="product-details">
                <h1><strong><span class="btmspace-30""></span class=" btmspace-30"><%=lista[i].items[0].product.title%></strong></h1>
                <p class="btmspace-30"><strong><%=lista[i].items[0].product.tags[0]%> </strong></p>
                <p class="btmspace-30">id: <%=lista[i].items[0].product.id%></p>
              </div>
            </div>
            <div class="subtotal"><%=lista[i].items[0].product.price%></div>
          </div>
          <% }%>
      
        </div>

        <aside>
          <div class="summary">
            <div class="summary-total-items"><span class="total-items"></span> Carrinho </div>
            <div class="summary-subtotal">
              <div class="subtotal-title">Subtotal</div>
             
              <div class="subtotal-value final-value" id="basket-subtotal"><%=preco%></div>

            </div>
            <div class="summary-delivery">
              <select name="delivery-collection" class="summary-delivery-selection">
                <option value="0" selected="selected">Forma de pagamento</option>
                <option value="collection">Master Card</option>
                <option value="first-class">Visa</option>
                <option value="second-class">Elo</option>
                <option value="signed-for">Vale Refeicao</option>
              </select>
            </div>
            <div class="summary-total">
              <div class="total-title">Total</div>
              <div class="total-value final-value" id="basket-total"><%=preco%></div>
            </div>
            
            <div class="summary-checkout">
              <a href="http://localhost:3000/sucesso" class="checkout-cta">Finalizar Compra</a>
            </div>
            <br/>
          </div>
        </aside>

        <!-- ################################################################################################ -->
        <div class="clear"></div>
      </main>
      <!-- ################################################################################################ -->
    </div>
    <div class="wrapper row3">
    </div>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="one_quarter first">
        <h1 class="logoname clear"><a href="index.html"><i class="fas fa-handshake"></i> <span>PUC-Shop</span></a></h1>
        <p class="btmspace-30">Os melhores preços<a href="#">&hellip;</a></p>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Localização</h6>
        <ul class="nospace linklist contact">
          <li><i class="fas fa-map-marker-alt"></i>
            <address>
              Rua Professor Dr. Euryclides de Jesus Zerbini, 1516 - Parque Rural Fazenda Santa Cândida, Campinas - SP,
              13087-571
            </address>
          </li>

        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Desenvolvedores</h6>
        <ul class="nospace linklist">
          <li><a> Pedro Cremasco</a></li>
          <li><a>David Marques</a></li>
          <li><a>Bianca Amarante</a></li>
          <li><a>Artur Malandrin</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Contato</h6>
        <ul class="nospace linklist">
          <li>
            <article>
          <li><i class="fas fa-phone"></i> +55 (19) 99938-1313</li>
          <li><i class="fas fa-fax"></i> +55 (19) 99938-1313</li>
          <li><i class="far fa-envelope"></i> info@PUC-Shop.com</li>
          </article>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">PUC Shop</a></p>
      <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS
          Templates</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="layout/scripts/jquery.min.js"></script>
  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>

</body>